<div class="menu-heading">
	<div class="menu-heading-left col-xs-5">
		<p><img src="../img/icon_heading_1.png" class="menu-heading-icon" />
			<span ng-bind="firstMenuTitle"></span>
		</p>
	</div>
	<div class="menu-heading-right col-xs-7">
		<div class="input-group">
			<input type="text" ng-model="searchOrg" class="form-control" placeholder="关键词" />
			<span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
			</span>
		</div>
	</div>
</div>
<!--
	----------------------------------------------------------------------------------------------------------------
-->
<div class="menu-list">
	<ul>
		<!--石化总厂-->
		<li ng-repeat="firstElem in orgTree.children">
			<p ng-mouseover="area3.isMouseover=true" ng-mouseleave="area3.isMouseover=false" ng-init="area3.isMouseover=false">
				<span ng-if="firstElem.noChild===true">&emsp;</span>
				<span ng-if="!firstElem.noChild">
                <button ng-click="expandOrg(firstElem)" class="menu-list-button">
                    <span ng-show="!firstElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
				<span ng-show="firstElem.ifExpand" class="glyphicon glyphicon-menu-down"></span>
				</button>
				<span class="fa fa-spinner fa-spin fa-fw" ng-show="(firstElem.ifExpand) && (firstElem.noChild===false)"></span>
				</span>
				<a ng-click="orgOnClick(firstElem)" ng-bind="firstElem['orgName']"></a>
				<!--
                 <button ng-show="area3.isMouseover" class="menu-list-button-follow" ng-click="OrgDelete(firstElem,orgTree.children,$index)"><span class="fa fa-times-circle" data-toggle="modal" data-target="#OrgDeleteModal"></span></button>
                 <button ng-show="area3.isMouseover" class="menu-list-button-follow" ng-click="orgUpdata(firstElem)"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#orgModifyModal"></span></button>
                 <button ng-show="area3.isMouseover" class="menu-list-button-follow" ng-click="orgAddfunc(firstElem)"><span class="fa fa-plus-square" data-toggle="modal" data-target="#orgAddModal"></span></button>
                -->
			</p>
			<ul>
				<!--某某分公司-->
				<li ng-repeat="secondElem in firstElem.children | filter:searchOrg" ng-show="firstElem.ifExpand">
					<p ng-mouseover="area2.isMouseover=true" ng-mouseleave="area2.isMouseover=false" ng-init="area2.isMouseover=false">
						<span ng-if="secondElem.noChild===true">&emsp;</span>
						<span ng-if="!secondElem.noChild">
                            <button ng-click="expandOrg(secondElem)" class="menu-list-button" ng-if="secondElem.children.length>0">
                                 <span ng-show="!secondElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
						<span ng-show="secondElem.ifExpand" class="glyphicon glyphicon-menu-down"></span>
						</button>
						<span class="fa fa-spinner fa-spin fa-fw" ng-show="(secondElem.ifExpand) && (secondElem.noChild===false)"></span>
						</span>
						<a ng-click="orgOnClick(secondElem)" ng-bind="secondElem['orgAlias']"></a>

						<!--
                        <button ng-show="area2.isMouseover" class="menu-list-button-follow" ng-click="OrgDelete(secondElem,firstElem.children,$index)"><span class="fa fa-times-circle" data-toggle="modal" data-target="#OrgDeleteModal"></span></button>
                        <button ng-show="area2.isMouseover" class="menu-list-button-follow" ng-click="orgUpdata(secondElem)"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#orgModifyModal"></span></button>
                        <button ng-show="area2.isMouseover" class="menu-list-button-follow" ng-click="orgAddfunc(secondElem)"><span class="fa fa-plus-square" data-toggle="modal" data-target="#orgAddModal"></span></button>
                        -->
					</p>
					<ul>
						<!--某某工厂-->
						<li ng-repeat="thirdElem in secondElem.children | filter:searchOrg" ng-show="secondElem.ifExpand">
							<p ng-mouseover="area1.isMouseover=true" ng-mouseleave="area1.isMouseover=false" ng-init="area1.isMouseover=false">
								<span ng-if="thirdElem.noChild===true">&emsp;</span>
								<span ng-if="!thirdElem.noChild">
                                <button ng-click="expandOrg(thirdElem)" class="menu-list-button" ng-if="thirdElem.children.length>0">
                                    <span ng-show="!thirdElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
								<span ng-show="thirdElem.ifExpand" class="glyphicon glyphicon-menu-down"></span>
								</button>
								<span class="fa fa-spinner fa-spin fa-fw" ng-show="(thirdElem.ifExpand) && (thirdElem.noChild===false)"></span>
								</span>
								<a ng-click="orgOnClick(thirdElem)" ng-bind="thirdElem['orgAlias']"></a>
								<!--                                 
                                 <button ng-show="area1.isMouseover" class="menu-list-button-follow" ng-click="OrgDelete(thirdElem,secondElem.children,$index)"><span class="fa fa-times-circle" data-toggle="modal" data-target="#OrgDeleteModal"></span></button>
                                 <button ng-show="area1.isMouseover" class="menu-list-button-follow" ng-click="orgUpdata(thirdElem)"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#orgModifyModal"></span></button>
                                 <button ng-show="area1.isMouseover" class="menu-list-button-follow" ng-click="orgAddfunc(thirdElem)"><span class="fa fa-plus-square" data-toggle="modal" data-target="#orgAddModal"></span></button>
                            	-->
							</p>
							<ul>
								<!--暂时不能确保是车间-->
								<li ng-repeat="forthElem in thirdElem.children | filter:searchOrg" ng-show="thirdElem.ifExpand">
									<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
										<span ng-if="forthElem.noChild===true">&emsp;</span>
										<span ng-if="!forthElem.noChild">
                                        <button ng-click="expandArea(forthElem)" class="menu-list-button">
                                            <span ng-show="!forthElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
											<span ng-show="forthElem.ifExpand " class="glyphicon glyphicon-menu-down"></span>
										</button>
										<!--<span class="fa fa-spinner fa-spin fa-fw" ng-show="(forthElem.ifExpand) && (forthElem.noChild==false) && (forthElem.children!=null)"></span>-->
										</span>
										<a ng-click="orgOnClick(forthElem)" ng-bind="forthElem['orgAlias']"></a>
										<!--                                        
                                        <button ng-show="area.isMouseover" class="menu-list-button-follow" ng-click="OrgDelete(forthElem,thirdElem.children,$index)"><span class="fa fa-times-circle" data-toggle="modal" data-target="#OrgDeleteModal"></span></button>
                                        <button ng-show="area.isMouseover" class="menu-list-button-follow" ng-click="orgUpdata(forthElem)"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#orgModifyModal"></span></button>
                                        <button ng-show="area.isMouseover" class="menu-list-button-follow" ng-click="addAreaBtn(forthElem)" ><span class="fa fa-plus-square" data-toggle="modal" data-target="#areaAddModal"></span></button>
                                    -->
									</p>
									<!--判断其它层级-->
									<ul ng-if="forthElem.children!=null">
										<li ng-repeat="fifthElem in forthElem.children | filter:searchOrg" ng-show="forthElem.ifExpand">
											<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
												<span ng-if="fifthElem.noChild===true">&emsp;</span>
												<span ng-if="!fifthElem.noChild">
		                                                    <button ng-click="expandOrg(fifthElem)" class="menu-list-button">
		                                                        <span ng-show="!fifthElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
												<span ng-show="fifthElem.ifExpand " class="glyphicon glyphicon-menu-down"></span>
												</button>
												<span class="fa fa-spinner fa-spin fa-fw" ng-show="(fifthElem.ifExpand) && (fifthElem.noChild==false)"></span>
												</span>
												<a ng-click="orgOnClick(fifthElem)" ng-bind="fifthElem['orgAlias']"></a>
											</p>
											<ul>
												<li ng-repeat="sixthElem in fifthElem.children | filter:searchOrg" ng-show="fifthElem.ifExpand">
												<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
													<span ng-if="sixthElem.noChild===true">&emsp;</span>
													<span ng-if="!sixthElem.noChild">
			                                                    <button ng-click="expandOrg(sixthElem)" class="menu-list-button">
			                                                        <span ng-show="!sixthElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
													<span ng-show="sixthElem.ifExpand " class="glyphicon glyphicon-menu-down"></span>
													</button>
													<span class="fa fa-spinner fa-spin fa-fw" ng-show="(sixthElem.ifExpand) && (sixthElem.noChild==false)"></span>
													</span>
													<a ng-click="orgOnClick(sixthElem)" ng-bind="sixthElem['orgAlias']"></a>
												</p>
												<ul>
													<li ng-repeat="seventhElem in sixthElem.children | filter:searchOrg" ng-show="sixthElem.ifExpand">
													<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
														<span ng-if="seventhElem.noChild===true">&emsp;</span>
														<span ng-if="!seventhElem.noChild">
				                                                    <button ng-click="expandOrg(seventhElem)" class="menu-list-button">
				                                                        <span ng-show="!seventhElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
														<span ng-show="seventhElem.ifExpand " class="glyphicon glyphicon-menu-down"></span>
														</button>
														<span class="fa fa-spinner fa-spin fa-fw" ng-show="(seventhElem.ifExpand) && (seventhElem.noChild==false)"></span>
														</span>
														<a ng-click="orgOnClick(seventhElem)" ng-bind="seventhElem['orgAlias']"></a>
													</p>
													<ul>
														<li ng-repeat="eighthElem in seventhElem.children | filter:searchOrg" ng-show="seventhElem.ifExpand">
														<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
															<span ng-if="eighthElem.noChild===true">&emsp;</span>
															<span ng-if="!eighthElem.noChild">
					                                                    <button ng-click="expandArea(eighthElem)" class="menu-list-button">
					                                                        <span ng-show="!eighthElem.ifExpand" class="glyphicon glyphicon-menu-right"></span>
															<span ng-show="eighthElem.ifExpand " class="glyphicon glyphicon-menu-down"></span>
															</button>
															<span class="fa fa-spinner fa-spin fa-fw" ng-show="(eighthElem.ifExpand) && (eighthElem.noChild==false)"></span>
															</span>
															<a ng-click="orgOnClick(eighthElem)" ng-bind="eighthElem['orgAlias']"></a>
														</p>
														<ul>
															<!--某某区域-->
															<li ng-repeat="area in eighthElem['areas'] | filter:searchOrg" ng-show="eighthElem.ifExpand">
																<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
																	<span ng-if="!area.noChild">
			                                                            <button ng-click="expandDevice(area, eighthElem['orgCode'])" class="menu-list-button">
			                                                                <span ng-show="!area.ifExpand" class="glyphicon glyphicon-menu-right"></span>
																	<span ng-show="area.ifExpand && (area.noChild===false)" class="glyphicon glyphicon-menu-down"></span>
																	</button>
																	<span class="fa fa-spinner fa-spin fa-fw" style="float: right" ng-show="(area.ifExpand) && (area.noChild!==false)"></span>
																	</span>
																	<!--FIXME temporary solution-->
																	<a ng-click="expandDevice(area, eighthElem['orgCode']);areaOnClick(area)" ng-bind="area['areaAlias']"></a>
																	<!--                                                
			                                                <button ng-show="area.isMouseover" ng-click="deleteAreaBtn(area,forthElem['areas'],$index)" class="menu-list-button-follow"><span class="fa fa-times-circle" data-toggle="modal" data-target="#areaDeletModal"></span></button>
			                                                <button ng-show="area.isMouseover" ng-click="updataAreaBtn(area)" class="menu-list-button-follow"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#areaModifyModal"></span></button>
			                                            -->
																</p>
																<ul>
																	<!--罐，仓库，设备-->
																	<li ng-repeat="device in area['devices']" ng-show="area.ifExpand">
																		<p ng-if="device['deviceList'].length === 0">
																			<a style="color: gray" ng-click="deviceOnClick(device)" ng-bind="device['deviceName']"></a>
																		</p>
																		<p ng-if="device['deviceList'].length > 0">
																			<a ng-click="deviceOnClick(device)" ng-bind="device['deviceName']"></a>
																		</p>
																	</li>
																</ul>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
									<!--用于判断其他层级(原始)-->
									<ul ng-if="forthElem.children==null">
			
												<li ng-repeat="area in forthElem['areas'] | filter:searchOrg" ng-show="forthElem.ifExpand">
													<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
														<span ng-if="!area.noChild">
                                                            <button ng-click="expandDevice(area, forthElem['orgCode'])" class="menu-list-button">
                                                                <span ng-show="!area.ifExpand" class="glyphicon glyphicon-menu-right"></span>
														<span ng-show="area.ifExpand && (area.noChild===false)" class="glyphicon glyphicon-menu-down"></span>
														</button>
														<span class="fa fa-spinner fa-spin fa-fw" style="float: right" ng-show="(area.ifExpand) && (area.noChild!==false)"></span>
														</span>
														<!--FIXME temporary solution-->
														<a ng-click="expandDevice(area, forthElem['orgCode']);areaOnClick(area)" ng-bind="area['areaAlias']"></a>
														<!--                                                
                                                <button ng-show="area.isMouseover" ng-click="deleteAreaBtn(area,forthElem['areas'],$index)" class="menu-list-button-follow"><span class="fa fa-times-circle" data-toggle="modal" data-target="#areaDeletModal"></span></button>
                                                <button ng-show="area.isMouseover" ng-click="updataAreaBtn(area)" class="menu-list-button-follow"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#areaModifyModal"></span></button>
                                            -->
													</p>
													<ul>
														<!--罐，仓库，设备-->
														<li ng-repeat="device in area['devices']" ng-show="area.ifExpand">
															<p ng-if="device['deviceList'].length === 0">
																<a style="color: gray" ng-click="deviceOnClick(device)" ng-bind="device['deviceName']"></a>
															</p>
															<p ng-if="device['deviceList'].length > 0">
																<a ng-click="deviceOnClick(device)" ng-bind="device['deviceName']"></a>
															</p>
												</li>
											</ul>
										</li>
									</ul>
									
									<ul ng-if="forthElem.children!=null">
												<li ng-repeat="area in forthElem['areas'] | filter:searchOrg" ng-show="forthElem.ifExpand">
													<p ng-mouseover="area.isMouseover=true" ng-mouseleave="area.isMouseover=false" ng-init="area.isMouseover=false">
														<span ng-if="!area.noChild">
                                                            <button ng-click="expandDevice(area, forthElem['orgCode'])" class="menu-list-button">
                                                                <span ng-show="!area.ifExpand" class="glyphicon glyphicon-menu-right"></span>
														<span ng-show="area.ifExpand && (area.noChild===false)" class="glyphicon glyphicon-menu-down"></span>
														</button>
														<span class="fa fa-spinner fa-spin fa-fw" style="float: right" ng-show="(area.ifExpand) && (area.noChild!==false)"></span>
														</span>
														<!--FIXME temporary solution-->
														<a ng-click="expandDevice(area, forthElem['orgCode']);areaOnClick(area)" ng-bind="area['areaAlias']"></a>
														<!--                                                
                                                <button ng-show="area.isMouseover" ng-click="deleteAreaBtn(area,forthElem['areas'],$index)" class="menu-list-button-follow"><span class="fa fa-times-circle" data-toggle="modal" data-target="#areaDeletModal"></span></button>
                                                <button ng-show="area.isMouseover" ng-click="updataAreaBtn(area)" class="menu-list-button-follow"><span class="fa fa-pencil-square" data-toggle="modal" data-target="#areaModifyModal"></span></button>
                                            -->
													</p>
													<ul>
														<!--罐，仓库，设备-->
														<li ng-repeat="device in area['devices']" ng-show="area.ifExpand">
															<p ng-if="device['deviceList'].length === 0">
																<a style="color: gray" ng-click="deviceOnClick(device)" ng-bind="device['deviceName']"></a>
															</p>
															<p ng-if="device['deviceList'].length > 0">
																<a ng-click="deviceOnClick(device)" ng-bind="device['deviceName']"></a>
															</p>
												</li>
											</ul>
										</li>
									</ul>
									
									
									
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
<!--增加区域模态框开始-->
<!--当需要添加增删改功能时，就将此下面control放开-->
<!--<div ng-controller="firstMenuController">-->
<div class="modal fade" id="areaAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header" style="background-color: #348FE2;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div>
					<h4 class="modal-title" align="center" style="color: #FFFFFF;">增加区域</h4>
				</div>
			</div>
			<div style="height: 10px;"></div>

			<div class="row" style="margin-left: 20px;">

				<div class="">
					<div class="col-sm-6 div_mar" ng-repeat="elem in popupAdd | orderBy:'position'" style="margin: 10px auto; width: 49%;">
						<div class="">
							<div class="col-xs-4 input-name">
								<p><span ng-show="elem['required']" style="color:red">*</span>{{elem['display']}}:</p>
							</div>
							<div class="col-xs-8 input-value" ng-switch="elem['inputType']">
								<div ng-switch-default>
									<input type="text" class="form-control" ng-model="elem['value']" />
								</div>
								<div ng-switch-when="option_area" class="input-group">
									<input type="text" class="form-control" ng-model="elem['value']" ng-disabled="elem['dis']">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="getAreaType()"><span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li ng-repeat="key in areaType1">
												<a href="#" ng-click="elem['value']=key">{{key}}</a>
											</li>
										</ul>
									</div>
									<!-- /btn-group -->
								</div>
								<!-- /input-group -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" ng-click="areaAddOnClick(addarea)">
					确认
				</button>
			</div>
		</div>
	</div>
</div>

<!--</div>-->
<!--修改区域模态框开始-->
<!--<div ng-controller="firstMenuController">-->
<div class="modal fade" id="areaModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header" style="background-color: #348FE2;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div>
					<h4 class="modal-title" align="center" style="color: #FFFFFF;">修改区域</h4>
				</div>
			</div>
			<div style="height: 10px;"></div>

			<div class="row" style="margin-left: 20px;">

				<div class="">
					<div class="col-sm-6 div_mar" ng-repeat="elem in popupAdd | orderBy:'position'" style="margin: 10px auto; width: 49%;">
						<div class="">
							<div class="col-xs-4 input-name">
								<p><span ng-show="elem['required']" style="color:red">*</span>{{elem['display']}}:</p>
							</div>
							<div class="col-xs-8 input-value" ng-switch="elem['inputType']">
								<div ng-switch-default>
									<input type="text" class="form-control" ng-model="elem['value']" ng-disabled="elem['dis']" />
								</div>
								<div ng-switch-when="option" class="input-group">
									<input type="text" class="form-control" ng-model="elem['value']">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li ng-repeat="key in elem['optionKeys']">
												<a href="#" ng-click="elem['value']=key">{{elem['options'][key]}}</a>
											</li>
										</ul>
									</div>
									<!-- /btn-group -->
								</div>
								<!-- /input-group -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" ng-click="areaUpdataOnClick(updataArea)">确认
				</button>
			</div>
		</div>
	</div>
</div>
<!--删除区域模态框开始-->
<!--<div ng-controller="firstMenuController">-->
<div class="modal fade" id="areaDeletModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #348FE2;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div>
					<h4 class="modal-title" align="center" style="color: #FFFFFF;">删除区域</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="areaDeleteOnClick(deleteArea)">确认
				</button>
			</div>
		</div>
	</div>
</div>

<!--修改总公司数据模态框开始-->

<!--删除模态框-->
<div class="modal fade" id="OrgDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background-color: #348FE2;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div>
					<h4 class="modal-title" align="center" style="color: #FFFFFF;">删除组织机构</h4>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="OrgDeleteConf(OrgDeleteData)">
					确认
				</button>
			</div>
		</div>
	</div>
</div>

<!--增加数据模态框-->
<div class="modal fade" id="orgAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header" style="background-color: #348FE2;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div>
					<h4 class="modal-title" align="center" style="color: #FFFFFF;">增加组织机构</h4>
				</div>
			</div>
			<div style="height: 10px;"></div>
			<!--此处开始进行数据绑定-->
			<div class="row" style="margin-left: 20px;">

				<div class="">
					<div class="col-sm-6 div_mar" ng-repeat="elem in popupAdd | orderBy:'position'" style="margin: 10px auto; width: 49%;">
						<div class="">
							<div class="col-xs-4 input-name">
								<p><span ng-show="elem['required']" style="color:red">*</span>{{elem['display']}}:</p>
							</div>
							<div class="col-xs-8 input-value" ng-switch="elem['inputType']">
								<div ng-switch-default>
									<input type="text" class="form-control" ng-model="elem['value']" ng-disabled="elem['orgEdi']" />
								</div>
								<div ng-switch-when="option" class="input-group">
									<input type="text" class="form-control" ng-model="elem['value']" ng-disabled="elem['dis']">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li ng-repeat="key in allOrgType">
												<a href="#" ng-click="elem['value']=key['orgTypeName'];getOrgId(key['orgTypeId'])">{{key['orgTypeName']}}</a>
											</li>
										</ul>
									</div>
									<!-- /btn-group -->
								</div>
								<!-- /input-group -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--此处结束-->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" ng-click="OrgAddOnClick(orgAddData)">
					确认
				</button>
			</div>
		</div>
	</div>
</div>
<!--修改数据模态框-->
<div class="modal fade" id="orgModifyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content" style="width: 800px;">
			<div class="modal-header" style="background-color: #348FE2;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<div>
					<h4 class="modal-title" align="center" style="color: #FFFFFF;">修改组织机构</h4>
				</div>
			</div>
			<div style="height: 10px;"></div>
			<!--开始数据绑定-->
			<div class="row" style="margin-left: 20px;">

				<div class="">
					<div class="col-sm-6 div_mar" ng-repeat="elem in popupAdd | orderBy:'position'" style="margin: 10px auto; width: 49%;">
						<div class="">
							<div class="col-xs-4 input-name">
								<p><span ng-show="elem['required']" style="color:red">*</span>{{elem['display']}}:</p>
							</div>
							<div class="col-xs-8 input-value" ng-switch="elem['inputType']">
								<div ng-switch-default>
									<input type="text" class="form-control" ng-model="elem['value']" ng-disabled="elem['dis']" />
								</div>
								<div ng-switch-when="option" class="input-group">
									<input type="text" class="form-control" ng-model="elem['value']">
									<div class="input-group-btn">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li ng-repeat="key in elem['optionKeys']">
												<a href="#" ng-click="elem['value']=key">{{elem['options'][key]}}</a>
											</li>
										</ul>
									</div>
									<!-- /btn-group -->
								</div>
								<!-- /input-group -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" ng-click="OrgModifyOnClick(orgUpdataData)">
					确认
				</button>
			</div>
		</div>
	</div>
</div>

<!--</div>-->