<div class="panel-component-heading panel-heading">
    <p>基本信息</p>
    <!--<i class="fa fa-pencil-square" aria-hidden="true" ng-click="nodeUpdataOnClick()"></i>-->
</div>
<div class="row info-table">
    <div class="col-md-3 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐编码">罐编码：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeCode']}}">{{obj['nodeCode']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐名称">罐名称：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeName']}}">{{obj['nodeName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐简称">罐简称：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeAlias']}}">{{obj['nodeAlias']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐类型">罐类型：</div>
            <div class="attribute-value col-xs-7" title="{{obj['tankTypeName']}}">{{obj['tankTypeName']}}</div>
        </div>
    </div>
    <div class="col-md-3 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="浮盘重">浮盘重：</div>
            <div class="attribute-value col-xs-7" title="{{obj['fltPlatWgt']}}"><span ng-if="obj['fltPlatWgt']===''">-</span>{{obj['fltPlatWgt']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐高">罐高：</div>
            <div class="attribute-value col-xs-7" title="{{obj['tankHgt']}}"><span ng-if="obj['tankHgt']===''">-</span>{{obj['tankHgt']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="是否保温罐">是否保温罐：</div>
            <div class="attribute-value col-xs-7" title="{{obj['htPretTank']}}" ng-switch="obj.htPretTank">
                <span ng-switch-when="0">否</span><span ng-switch-when="1">是</span>
            </div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="浮盘前高">浮盘前高：</div>
            <div class="attribute-value col-xs-7" title="{{obj['fltPlatPerhgt']}}"><span ng-if="obj['fltPlatPerhgt']===''">-</span>{{obj['fltPlatPerhgt']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐公称容积">罐公称容积：</div>
            <div class="attribute-value col-xs-7" title="{{obj['tankTotlCuba']}}"><span ng-if="obj['tankTotlCuba']===''">-</span>{{obj['tankTotlCuba']}}</div>
        </div>
    </div>
    <div class="col-md-3 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="浮顶最低点">浮顶最低点：</div>
            <div class="attribute-value col-xs-7" title="{{obj['fltTipLst']}}"><span ng-if="obj['fltTipLst']===''">-</span>{{obj['fltTipLst']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐安全高度">罐安全高度：</div>
            <div class="attribute-value col-xs-7" title="{{obj['maxTankHgt']}}"><span ng-if="obj['maxTankHgt']===''">-</span>{{obj['maxTankHgt']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="罐底高度">罐底高度：</div>
            <div class="attribute-value col-xs-7" title="{{obj['minTankHgt']}}"><span ng-if="obj['minTankHgt']===''">-</span>{{obj['minTankHgt']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="安全罐量上限">安全罐量上限：</div>
            <div class="attribute-value col-xs-7" title="{{obj['maxTankStoarge']}}"><span ng-if="obj['maxTankStoarge']===''">-</span>{{obj['maxTankStoarge']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="安全罐量下限">安全罐量下限：</div>
            <div class="attribute-value col-xs-7" title="{{obj['minTankStoarge']}}"><span ng-if="obj['minTankStoarge']===''">-</span>{{obj['minTankStoarge']}}</div>
        </div>
    </div>
    <!--<div class="col-md-3 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料编码">物料编码：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlCode']}}">{{mtr['mtrlCode']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料名称">物料名称：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlName']}}">{{mtr['mtrlName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料别名">物料别名：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlAlias']}}">{{mtr['mtrlAlias']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料类型">物料类型：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlTypeName']}}">{{mtr['mtrlTypeName']}}</div>
        </div>-->
        <!--<div class="row info-table-row">
             
        	<button class="msr-panel-switch" ng-click="mtrlAddOnClick(mtr, obj)" style="right: 63%; font-size: 2rem; bottom: -20%;">
                            <span class="fa fa-plus-square"></span>
            </button>	
        	<button class="msr-panel-switch" ng-click="mtrlUpdateOnClick(mtr, obj)" style="right: 75%; font-size: 2rem; bottom: -20%;">
                            <span class="fa fa-pencil-square"></span>
            </button>-->
            <!--下面是删除操作，看是否需要-->
        	<!--<button class="msr-panel-switch" ng-click="mtrlDeleteOnClick(mtr, obj)" style="right: 51%; font-size: 2rem; bottom: -20%;">
                            <span class="fa fa-times-circle"></span>
            </button>	    
        </div>-->
    <!--</div>-->
</div>