<div class="panel-component-heading">
    <p>基本信息</p>
    <!--<i class="fa fa-pencil-square" aria-hidden="true" ng-click="nodeUpdataOnClick()"></i>-->
</div>
<div class="row info-table">
    <div class="col-md-4 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">进出场点编码：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeCode']}}">{{obj['nodeCode']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">进出场点名称：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeName']}}">{{obj['nodeName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">进出场点简称：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeAlias']}}">{{obj['nodeAlias']}}</div>
        </div>
    </div>
    <div class="col-md-4 info-table-col">
        <div class="row info-table-row" ng-switch="obj.inoutTypeId">
            <div class="attribute-name col-xs-5">进出类型：</div>
            <div class="attribute-value col-xs-7" title="id:0" ng-switch-when="0">进</div>
            <div class="attribute-value col-xs-7" title="id:1" ng-switch-when="1">出</div>
            <div class="attribute-value col-xs-7" ng-switch-default>-</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">运输类型：</div>
            <div class="attribute-value col-xs-7" title="{{obj['transTypeName']}}"><span ng-if="obj['transTypeName']===''">-</span>{{obj['transTypeName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">计量公式：</div>
            <div class="attribute-value col-xs-7" title="{{obj['formula']}}"><span ng-if="obj['formula']===''">-</span>{{obj['formula']}}</div>
        </div>
    </div>
    <!--<div class="col-md-4 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">物料编码：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlCode']}}"><span ng-if="mtr['mtrlCode']===''">-</span>{{mtr['mtrlCode']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料名称">物料名称：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlName']}}"><span ng-if="mtr['mtrlName']===''">-</span>{{mtr['mtrlName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料别名">物料别名：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlAlias']}}"><span ng-if="mtr['mtrlAlias']===''">-</span>{{mtr['mtrlAlias']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">物料类型：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlTypeName']}}"><span ng-if="mtr['mtrlTypeName']===''">-</span>{{mtr['mtrlTypeName']}}</div>
        </div>-->
        
         <!--<div class="row info-table-row">
             
        	<button class="msr-panel-switch" ng-click="mtrlAddOnClick(mtr, obj)" style="right: 51%; font-size: 2rem; bottom: -2%;">
                            <span class="fa fa-plus-square"></span>
            </button>	
        	<button class="msr-panel-switch" ng-click="mtrlUpdateOnClick(mtr, obj)" style="right: 63%; font-size: 2rem; bottom: -2%;">
                            <span class="fa fa-pencil-square"></span>
            </button>-->
            <!--下面是删除操作，看是否需要-->
        	<!--<button class="msr-panel-switch" ng-click="mtrlDeleteOnClick(mtr, obj)" style="right: 39%; font-size: 2rem; bottom: -2%;">
                            <span class="fa fa-times-circle"></span>
            </button>	    
        </div>-->
    <!--</div>-->
</div>