<div class="menu-heading">
    <div class="menu-heading-left"><span class="fa fa-2x fa-file-text-o"></span> 详细信息</div>
</div>
<div class="panel-basic-info panel-block">
    <div class="panel-component-heading">
        <p>基本信息</p>
        <!--<i class="fa fa-pencil-square" aria-hidden="true"></i>-->
        <button class="menu-list-button-flow" ng-click="nodeUpdataOnClick()"><span class="fa fa-pencil-square"></span></button>
    </div>
    <div class="row info-table">
        <div class="col-md-4 info-table-col">
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">侧线编码：</div>
                <div class="attribute-value col-xs-7" title="{{obj['nodeCode']}}">{{obj['nodeCode']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">侧线名称：</div>
                <div class="attribute-value col-xs-7" title="{{obj['nodeName']}}">{{obj['nodeName']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">侧线简称：</div>
                <div class="attribute-value col-xs-7" title="{{obj['nodeAlias']}}">{{obj['nodeAlias']}}</div>
            </div>
            <div class="row info-table-row" ng-switch="obj.slineInoutTypeId">
                <div class="attribute-name col-xs-5">侧线进出类型：</div>
                <div class="attribute-value col-xs-7" title="id:0" ng-switch-when="0">进</div>
                <div class="attribute-value col-xs-7" title="id:1" ng-switch-when="1">出</div>
                <div class="attribute-value col-xs-7" ng-switch-default>-</div>
            </div>
        </div>
        <div class="col-md-4 info-table-col">
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">侧线业务类型：</div>
                <div class="attribute-value col-xs-7" title="{{obj['sidelineTypeName']}}"><span ng-if="obj['sidelineTypeName']===''">-</span>{{obj['sidelineTypeName']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">物料类型ID：</div>
                <div class="attribute-value col-xs-7" title="{{obj['sideMtrlTypeName']}}"><span ng-if="obj['sideMtrlTypeName']===''">-</span>{{obj['sideMtrlTypeName']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">界区量公式：</div>
                <div class="attribute-value col-xs-7" title="{{obj['areaForm']}}"><span ng-if="obj['areaForm']===''">-</span>{{obj['areaForm']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">侧线量公式：</div>
                <div class="attribute-value col-xs-7" title="{{obj['formula']}}"><span ng-if="obj['formula']===''">-</span>{{obj['formula']}}</div>
            </div>
        </div>
        <div class="col-md-4 info-table-col">
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">物料编码：</div>
                <div class="attribute-value col-xs-7" title="{{mtr['mtrlCode']}}">{{mtr['mtrlCode']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5" title="物料名称">物料名称：</div>
                <div class="attribute-value col-xs-7" title="{{mtr['mtrlName']}}">{{mtr['mtrlName']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5" title="物料别名">物料别名：</div>
                <div class="attribute-value col-xs-7" title="{{mtr['mtrlAlias']}}">{{mtr['mtrlAlias']}}</div>
            </div>
            <div class="row info-table-row">
                <div class="attribute-name col-xs-5">物料类型：</div>
                <div class="attribute-value col-xs-7" title="{{mtr['mtrlTypeName']}}">{{mtr['mtrlTypeName']}}</div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body-info">

    <div class="panel-block" id="panel-block-msr">
        <div class="panel-component-heading panel-heading" ng-init="panelMeasureCollapse=false">
            <button ng-click="panelMeasureCollapse = !panelMeasureCollapse" class="panel-collapse-button">
                度量指标
                <span ng-show="panelMeasureCollapse" class="glyphicon glyphicon-menu-right"></span>
                <span ng-show="!panelMeasureCollapse" class="glyphicon glyphicon-menu-down"></span>
            </button>
        </div>

        <div class="row panel-body" ng-show="!panelMeasureCollapse" >
            <div ng-if="msr.length>0" ng-repeat="measure in msr" class="col-sm-3 msr-panel-col">
                <div class="msr-panel" ng-if="measure['hasInfo']">
                    <div class="msr-panel-heading">
                        {{measure['idxTypeName']}}<img ng-src="../img/measure/icon3_{{measure['idxTypeId']}}.png"/>
                    </div>
                    <div class="msr-panel-body row">
                        <div class="col-xs-3 msr-panel-name">编码：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxId']===''">-</span>{{measure['idxId']}}</div>
                        <div class="col-xs-3 msr-panel-name">名称：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxName']===''">-</span>{{measure['idxName']}}</div>
                        <div class="col-xs-3 msr-panel-name">简称：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxAlias']===''">-</span>{{measure['idxAlias']}}</div>
                        <div class="col-xs-3 msr-panel-name">公式：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxFormula']===''">-</span>{{measure['idxFormula']}}</div>
                    </div>
                </div>

                <div class="msr-panel" ng-if="!measure['hasInfo']">
                    <div class="msr-panel-heading">
                        {{measure['idxTypeName']}}<img ng-src="../img/measure/icon2_{{measure['idxTypeId']}}.png"/>
                    </div>
                    <div class="msr-panel-body">
                        暂无该信息
                        <button class="msr-panel-switch" ng-click="msrAddOnClick(measure, obj)">
                            <span class="fa fa-plus-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div ng-if="msr.length===0"><p>暂无度量指标信息</p></div>
        </div>
    </div>

    <div class="panel-block" id="panel-extra-map" ng-init="panelMapCollapse=true">
        <div class="panel-component-heading panel-heading">
            <button ng-click="panelMapCollapse = !panelMapCollapse" class="panel-collapse-button">
                当前位置
                <span ng-show="panelMapCollapse" class="glyphicon glyphicon-menu-right"></span>
                <span ng-show="!panelMapCollapse" class="glyphicon glyphicon-menu-down"></span>
            </button>
        </div>
        <div class="panel-body" ng-if="!panelMapCollapse">
            <iframe src="../html/component_map.html"></iframe>
        </div>
    </div>
    <div class="panel-block" id="panel-extra-3d" ng-init="panel3dCollapse=true">
        <div class="panel-component-heading panel-heading">
            <button ng-click="panel3dCollapse = !panel3dCollapse" class="panel-collapse-button">
                三维展示
                <span ng-show="panel3dCollapse" class="glyphicon glyphicon-menu-right"></span>
                <span ng-show="!panel3dCollapse" class="glyphicon glyphicon-menu-down"></span>
            </button>
        </div>
        <div class="panel-body" ng-show="!panel3dCollapse">
            <div style="text-align: center">
                <img src="../img/3d_sideline_0_1.png" style="width:90%;height:90%"/>
            </div>
            <div><p>侧线三维模型</p></div>
        </div>
    </div>
</div>

<!--
侧线ID      nodeId:220278
侧线编码     nodeCode:"Z5MP00241001"
侧线名称     nodeName:"茂名分公司化工火炬气回收装置燃料气A线"
侧线简称     nodeAlias:"火炬气回收燃料气A线"

侧线业务类型  sidelineTypeName:"物料域"
物料类型ID   sideMtrlTypeName:"物料"
界区量公式   areaForm:""
侧线量公式   formula:""

物料ID            mtrlId:1510117
物料编码           mtrlCode:0643020060511266
物料名称/别名       mtrlName: 饱和液化气(半成品)/mtrlAlias: 饱和液化气(半成品)
物料类型           mtrlTypeName: 原油
上一级物料编码      upperMtrlCode: 0643040060179044

areaCode:"Z5MP0024"
areaId:20032
dataStatus:1
mtrlId:-1
nodeAltitude:""
nodeLatitude:""
nodeLongitude:""
nodeTypeId:1
nodeTypeName:"sideLine"
slineMtrlTypeId:1
sidelineTypeId:1
slineInoutTypeId:1  0进1出
-->