<div class="panel-component-heading panel-heading">
    <p>基本信息</p>
    <!--<i class="fa fa-pencil-square" aria-hidden="true" ng-click="nodeUpdataOnClick(mtr)"></i>-->
</div>
<div class="row info-table">
    <div class="col-md-4 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">管段编码：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeCode']}}">{{obj['nodeCode']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">管段名称：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeName']}}">{{obj['nodeName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">管段简称：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeAlias']}}">{{obj['nodeAlias']}}</div>
        </div>
    </div>
    <div class="col-md-4 info-table-col">
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">位置经度：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeLatitude']}}">{{obj['nodeLatitude']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">位置纬度：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeAltitude']}}">{{obj['nodeAltitude']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">位置高度：</div>
            <div class="attribute-value col-xs-7" title="{{obj['nodeLongitude']}}">{{obj['nodeLongitude']}}</div>
        </div>
    </div>
    <!--<div class="col-md-4 info-table-col">
      <div class="row info-table-row">
            <div class="attribute-name col-xs-5">物料编码：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlCode']}}">{{mtr['mtrlCode']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料名称">物料名称：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlName']}}">{{mtr['mtrlName']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5" title="物料别名">物料别名：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlAlias']}}">{{mtr['mtrlAlias']}}</div>
        </div>
        <div class="row info-table-row">
            <div class="attribute-name col-xs-5">物料类型：</div>
            <div class="attribute-value col-xs-7" title="{{mtr['mtrlTypeName']}}">{{mtr['mtrlTypeName']}}</div>
        </div>-->
        <!--<div class="row info-table-row">
             
        	<button class="msr-panel-switch" ng-click="mtrlAddOnClick(mtr, obj)" style="right: 24%; font-size: 2rem; bottom: -3%;">
                            <span class="fa fa-plus-square"></span>
            </button>	
        	<button class="msr-panel-switch" ng-click="mtrlUpdateOnClick(mtr, obj)" style="right: 32%; font-size: 2rem; bottom: -3%;">
                            <span class="fa fa-pencil-square"></span>
            </button>
            <!--下面是删除操作，看是否需要-->
        	<!--<button class="msr-panel-switch" ng-click="mtrlDeleteOnClick(mtr, obj)" style="right: 16%; font-size: 2rem; bottom: -3%;">
                            <span class="fa fa-times-circle"></span>
            </button>	    
        </div>-->
     <!--</div>-->
</div>
