<div class="menu-heading">
    <div class="menu-heading-left"><span class="fa fa-2x fa-file-text-o"></span> 详细信息</div>
</div>
<div class="panel-basic-info panel-block" ng-include="basicInfoUrl"></div>
<div class="panel-body-info">

    <div class="panel-block" id="panel-block-msr">
        <div class="panel-component-heading panel-heading" ng-init="panelMeasureCollapse=false">
            <button ng-click="panelMeasureCollapse = !panelMeasureCollapse" class="panel-collapse-button">
                度量指标
                
                <span ng-show="panelMeasureCollapse" class="glyphicon glyphicon-menu-right"></span>
                <span ng-show="!panelMeasureCollapse" class="glyphicon glyphicon-menu-down"></span>
            </button>
        </div>
        <!--<div class="panel-component-heading panel-heading" >
	    <p>度量指标</p>
	    <i class="fa fa-plus-circle" aria-hidden="true" ng-click="msrAddOnClick(obj,mtr)" style="float: none; font-size: 150%; cursor: pointer;"></i>
	    <div ng-init="panelMeasureCollapse=false" style="display: inline-block; float: right;">
	        <button ng-click="panelMeasureCollapse = !panelMeasureCollapse" class="panel-collapse-button">           
                <span ng-show="panelMeasureCollapse" class="glyphicon glyphicon-menu-right"></span>
                <span ng-show="!panelMeasureCollapse" class="glyphicon glyphicon-menu-down"></span>
            </button>
        </div>
	    </div>-->

        <div class="row panel-body" ng-show="!panelMeasureCollapse" >
        	
            <div ng-show="msr.length>0" ng-repeat="measure in msr track by $index" class="col-sm-3 msr-panel-col">
            	<!--此为有数据时显示的数据操作及排版-->
                <div class="msr-panel" ng-if="measure['hasInfo']" ng-mouseover="measure.isMouseover=true" ng-mouseleave="measure.isMouseover=false" ng-init="measure.isMouseover=false">
                	<!--下面由于缺少度量指标图标，所以做了一个愚蠢显示-->
                    <div class="msr-panel-heading" ng-if="measure['idxTypeCode']<16">
                        {{measure['idxTypeName']}}<img ng-src="../img/measure/icon3_{{measure['idxTypeCode']}}.png"/>
                    </div>
                    <div class="msr-panel-heading" ng-if="measure['idxTypeCode']>=16">
                        {{measure['idxTypeName']}}<img ng-src="../img/measure/icon3_15.png"/>
                    </div>
                    <div class="msr-panel-body row" ng-if="measure['idxAbbrName']==undefined" style="height: 13rem;">
                        <div class="col-xs-3 msr-panel-name">编码：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxCode']===''">-</span>{{measure['idxCode']}}</div>
                        <div class="col-xs-3 msr-panel-name">名称：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxName']===''">-</span>{{measure['idxName']}}</div>
                        <div class="col-xs-3 msr-panel-name">简称：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxAlias']===''">-</span>{{measure['idxAlias']}}</div>
                        <div class="col-xs-3 msr-panel-name">公式：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxFormula']===''">-</span>{{measure['idxFormula']}}</div>
                    </div> 
                    <div class="msr-panel-body row" ng-if="measure['idxAbbrName']!=undefined" style="height: 16rem;">
                        <div class="col-xs-3 msr-panel-name">编码：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxCode']===''">-</span>{{measure['idxCode']}}</div>
                        <div class="col-xs-3 msr-panel-name">名称：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxName']===''">-</span>{{measure['idxName']}}</div>
                        <div class="col-xs-3 msr-panel-name">简称：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxAbbrName']===''">-</span>{{measure['idxAbbrName']}}</div>
                        <div class="col-xs-3 msr-panel-name">公式：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['idxFormula']===''">-</span>{{measure['idxFormula']}}</div>
                        <div class="col-xs-3 msr-panel-name">量纲：</div>
                        <div class="col-xs-9 msr-panel-value"><span ng-if="measure['dimensionName']===''">-</span>{{measure['dimensionName']}}</div>
                        <div class="col-xs-4 msr-panel-name">数据源：</div>
                        <div class="col-xs-8 msr-panel-value"><span ng-if="measure['sourceDataType']===''">-</span>{{measure['sourceDataType']}}</div>
                    </div> 
                    <!--<button ng-show="measure.isMouseover" class="menu-list-button-follow" ng-click=""><span class="fa fa-pencil-square" data-toggle="modal" data-target="#firstModifyModal"></span></button>-->
                    
                    	
                    <!--下面是修改和删除的按钮,在没有数据的时候-->
                    <!--<button  ng-show="measure.isMouseover" class="msr-panel-switch" ng-click="msrUpdateOnClick(measure, obj,$index)" style="position: absolute; right: 8%; bottom: 62%;">
                            <span class="fa fa-pencil-square"></span>
                    </button>
                    <button  ng-show="measure.isMouseover" class="msr-panel-switch" ng-click="msrDeleteOnClick(measure, obj,$index)" style="right: 20%; position: absolute; bottom: 62%;">
                            <span class="fa fa-times-circle"></span>
                    </button>-->
                    
                </div>
                 <!--此为无数据时显示的暂无数据操作-->
                <div class="msr-panel" ng-show="!measure['hasInfo']">
                    <div class="msr-panel-heading" ng-if="measure['idxTypeId']<16">
                        {{measure['idxTypeName']}}<img ng-src="../img/measure/icon2_{{measure['idxTypeId']}}.png"/>
                    </div>
                    <div class="msr-panel-heading" ng-if="measure['idxTypeId']>=16">
                        {{measure['idxTypeName']}}<img ng-src="../img/measure/icon2_15.png"/>
                    </div>
                    <div class="msr-panel-body" style="height: 13rem;" ng-if="measure['idxFlag']">
                        暂无该信息
                        <!--下面是在无数据的时候进行新增的按钮-->
                        <!--<button class="msr-panel-switch" ng-click="msrAddOnClick(measure,obj,mtr,$index)">
                            <span class="fa fa-plus-circle"></span>
                        </button>-->
                        
                    </div>
                    <div class="msr-panel-body" style="height: 16rem;" ng-if="!measure['idxFlag']">
                        暂无该信息
                        <!--下面是在无数据的时候进行新增的按钮-->
                        <!--<button class="msr-panel-switch" ng-click="msrAddOnClick(measure,obj,mtr,$index)">
                            <span class="fa fa-plus-circle"></span>
                        </button>-->
                        
                    </div>
                </div> 
   
            </div>
            
            <!--此为无度量指标时的显示消息-->
            <div ng-show="msr.length===0"><p>暂无度量指标信息</p></div>
        </div>
    </div>

    <div class="panel-block" id="panel-extra-map" ng-init="panelMapCollapse=true">
        <div class="panel-component-heading panel-heading">
            <button ng-click="panelMapCollapse = !panelMapCollapse" class="panel-collapse-button">
                当前位置
                <span ng-show="panelMapCollapse" class="glyphicon glyphicon-menu-right"></span>
                <span ng-show="!panelMapCollapse" class="glyphicon glyphicon-menu-down"></span>
            </button>

        </div>
        <div class="panel-body" ng-if="!panelMapCollapse">
            <iframe src="../html/component_map.html"></iframe>
        </div>
    </div>

    <!--三维panel-->
    <div class="panel-block" id="panel-extra-3d" ng-init="panel3dCollapse=true" ng-controller="device3DController" ng-include="url">

    </div>
</div>