<!--<div class="row content-tabs"></div>-->
<!--
	增加删除修改导入导出返回
-->
<div ng-include="'uiGrid/action.html'" style="width: 99%;margin: auto;"></div>

<div ui-grid="gridOptions" id="uiGrid" style="height: auto;" ui-grid-edit ui-grid-pagination ui-grid-selection ui-grid-exporter ui-grid-resize-columns ui-grid-auto-resize ui-grid-cellnav>
</div>

<div>
	<div ui-view=''></div>
</div>

<div style="margin-right: 0.5%;">

	<div style="float: left;">
		<ul class="pagination">
			<li style="font-size: 10px;">
				显示第&nbsp;{{(gridOptions.paginationCurrentPage-1)*(gridOptions.paginationPageSize)+1}}&nbsp; 到第&nbsp;{{gridApi.pagination.getTotalPages()==gridOptions.paginationCurrentPage?gridOptions.totalItems:gridOptions.paginationCurrentPage*(gridOptions.paginationPageSize)}}&nbsp;条记录, 共&nbsp;{{gridOptions.totalItems}}&nbsp;条记录 每页显示
				<select ng-model="gridApi.grid.options.paginationPageSize" ng-options="o for o in gridApi.grid.options.paginationPageSizes">
				</select>
				条记录
			</li>
		</ul>
	</div>
	<div style="float: right;">
		<ul class="pagination">
			<li>
				<a aria-label="Previous" ng-click="main.vfunc.onclick.goFirstPage()">
					<span aria-hidden="true"><!--&laquo;-->首页</span>
				</a>
			</li>
			<li>
				<a>
					<input style="width: 40px;height: 20px;" type="number" ng-model="gridApi.grid.options.paginationCurrentPage" />
				</a>
			</li>
			<li>
				<a aria-label="Next" ng-click="main.vfunc.onclick.goLastPage()">
					<span aria-hidden="true"><!--&raquo;-->尾页</span>
				</a>
			</li>

		</ul>
	</div>
</div>

<!--增删改查操作结束后------状态提示模态框-->
<div class="modal fade" id="tempresetModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="margin-top: 8%;">
		<div class="modal-content">
			<div class="modal-header" style="overflow-y: hidden" align="center">
				<h5 class="modal-title">{{tempreset}}</h5>
			</div>
			<div class="row" ng-if='error!=""' style="color: red;">
				{{error}}
			</div>
		</div>
	</div>
</div>

<!--导入操作结束后------状态提示模态框-->
<div class="modal fade" id="importModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="margin-top: 8%;">
		<div class="modal-content">
			<div class="modal-header" style="overflow-y: hidden" align="center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h6 class="modal-title">导入报告</h6>
			</div>
			<div class="modal-body" style="overflow-y: hidden">
				<h5>已处理{{mTable.tableValue.length}}条，成功{{imSuccess.length}}条，失败{{imError.length}}条。</h5>

				<div class="panel panel-default" ng-if="imError.length">
					<table class="table">
						<thead style="width: calc(100%-1em);">
							<tr style="display: table;width: 100%;table-layout: fixed;">
								<th style="width: 23%">错误行号</th>
								<th>错误原因</th>
							</tr>
						</thead>
						<tbody style="display: block;max-height: 238px;min-height: 35px; overflow-y: scroll;">
							<tr ng-repeat="(key,value) in imError" style="display: table;width: 100%;table-layout: fixed;">
								<td style="width: 23%">{{value.num}}</td>
								<td style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{value.errorMes}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer" ng-if="imError.length">
				<div class="footer-content">
					<button type="button" class="btn sure" ng-click=main.vfunc.onclick.downloadMsg()>下载错误报告</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script>
	$(document).ready(function() {
		$("#importModel").draggable();
	});
</script>