<div class="modal fade" id="tableImport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" style="z-index: 3;">
	<div class="modal-dialog" style="width: 617px;">
		<div class="modal-content">
			<div class="modal-header" style="overflow-y: hidden" align="center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h5 class="modal-title">{{main.vMember.sapc.tableType.jsonObj.nameAlias}}导入</h5>
			</div>
			<div class="container">
				<div style="width: 100px;height: 30px;">
					<div style="position: relative;">
						<button style="position: absolute;width: 100px;height: 28px;" class="inputbutton">选择文件</button>
						<input type="file" file-model="myFile" nv-file-select uploader="uploader" class="file" id="fileupload">
					</div>
				</div>
				<div ng-bind="excelName">
				</div>
			</div>
			<div class="modal-footer">
				<div class="footer-content">
					<button type="button" class="btn sure" ng-click="main.vfunc.onclick.importFile()" ng-disabled="excelName=='未选择'" data-target="#tableImportShow" data-toggle="modal">确定</button>
					<button type="submit" class="btn btn-default remove" data-dismiss="modal" ng-click='main.vfunc.onclick.cancelImport()'>取消</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade in open" id="tableImportShow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header" style="overflow-y: hidden" align="center">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h6 class="modal-title">{{main.vMember.sapc.tableType.jsonObj.nameAlias}}导入</h6>
			</div>
			<div class="modal-body" style="overflow: auto;max-height: 500px;padding: 0;">
				<table class="table table-bordered; table table-hover" style="color: black;margin: 0; text-align: center;overflow: auto;">
					<thead>
						<tr>
							<th style="overflow-y: hidden;text-align:center;white-space: nowrap;">行号</th>
							<th style="overflow-y: hidden;text-align:center;white-space: nowrap;">导入</th>
							<th ng-repeat="elem in mTable.tableType" style="overflow-y: hidden;text-align:center;white-space: nowrap;" ng-hide="!elem.inOut">
								<span ng-bind="elem.display" ng-MouseDown='dragDown($index)' ng-MouseUp='dragUp($index)' wei-yi data={{$index}} style="font-size: 12px;"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tableValue in mTable.tableValue " class="" style="overflow-y: hidden" align="center">
							<td style="white-space: nowrap;font-size:12px ;">{{$index+1}}</td>
							<td style="white-space: nowrap;font-size:12px ;">
								<span style="color: green;" class="glyphicon glyphicon-ok" ng-hide="!tableValue.imTrue"></span>
								<span style="color: red;" class="glyphicon glyphicon-remove" ng-hide="!tableValue.imFalse"></span>
							</td>
							<td ng-repeat="(typekey,typevalue) in mTable.tableType track by $index" style="white-space: nowrap;font-size:12px;" ng-hide="!mTable.tableType[typekey].inOut">
								<span ng-bind="tableValue[typekey]"></span>
							</td>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<div class="footer-content">
					<button type="button" class="btn sure" ng-click="main.vfunc.onclick.importEnsure()" ng-disabled="imBtnDisable">{{importBtnName}}</button>
					<!--<button type="button" class="btn sure" ng-click="main.vfunc.onclick.importEnsure()">导入</button>-->
					<button type="submit" class="btn btn-default remove"  data-toggle="modal" data-target="#importModel" ng-disabled="!imBtnDisable">导入报告</button>
					<button type="submit" class="btn btn-default remove" ng-click="main.vfunc.onclick.importClose()">关闭</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		$("#tableImport").draggable();
		$("#tableImportShow").draggable();
	});
</script>