.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

/** Content **/
.chart-demo .window00{
	border:0.1em dotted #d4e06b; 	
	width:15em; height:3em; 	
	line-height:4em;
	font-weight: bold;
}
.chart-demo .window01{ 
	border:0.1em dotted #d4e06b; 	
	width:8em; height:3em; 	
	line-height:4em;
	font-weight: bold;
}
.chart-demo .window02{ 
	border:0.1em dotted #d4e06b; 	
	width:24em; height:3em; 	
	line-height:4em;	
	font-weight: bold;
}
.chart-demo .window03{ 
	border:0.1em dotted #d4e06b; 	
	width:8em; height:3em; 	
	line-height:4em;	
	font-weight: bold;
}


/** ELEMENTS **/
.chart-demo .window{ 
	border:0.1em dotted #d4e06b; 	
	width:8em; height:2.5em; 	
	line-height:4em;	
}
/** HOVER EFFECTS **/
.chart-demo .window:hover, .chart-demo .window.jtk-source-hover, .chart-demo .window.jtk-target-hover {
    border:1px solid black;
    color:black;
}
/** CONTENT POSITIONS **/
#titleWindow1 { left:3em; top:2em;}
#titleWindow2 { left:23em; top:2em;}
#titleWindow3 { left:37em; top:2em;}
#titleWindow4 { left:70em; top:2em;}

/** ELEMENT POSITIONS 动态显示 **/
/*#chartWindow1 { left:1em; top:10em;}
#chartWindow2 { left:12em;top:10em;}
#chartWindow3 { left:23em;top:10em;}
#chartWindow4 { left:34em;top:10em;}
#chartWindow5 { left:46em;top:7em;}
#chartWindow6 { left:46em;top:13em;}
#chartWindow7 { left:56em;top:11em;}
#chartWindow8 { left:70em;top:7em;}
#chartWindow9 { left:70em;top:17em;}

#chartWindow10 { left:12em;top:20em;}
#chartWindow11 { left:12em;top:15em;}*/

/** CONTENT CSS **/
.window00,.window01,.window02,.window03 {
    background-color:#21c2a1;
    border:1px solid #346789;
    text-align:center;
    z-index:24;
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.0em;
    position:absolute;
    color:white;
    padding:0.5em;
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

/** ELEMENT CSS **/
.window {
    background-color:#cecece;
    border:1px solid #346789;
    text-align:center;
    z-index:24;
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    position:absolute;
    color:white;
    padding:0.5em;
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}


.window00:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}
.window01:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}
.window02:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}
.window03:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}
.window:hover {
    border:1px solid #123456;
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #fff;
    opacity:0.9;
}
path, .jtk-endpoint { cursor:pointer; }
