html {
    overflow: hidden;
}

body {
    /*overflow-y: hidden;*/
}
.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

/** Content **/
.chart-demo .window00{
	border:0.1em dotted #d4e06b;
	width:5em; height:3em;
	/*line-height:4em;*/
	font-weight: bold;

}
.chart-demo .window01{
	border:0.1em dotted #d4e06b;
	width:8em; height:3em;
	/*line-height:4em;*/
	font-weight: bold;
}
.chart-demo .window02{
	border:0.1em dotted #d4e06b;
	width:15em; height:3em;
	/*line-height:4em;	*/
	font-weight: bold;
}
.chart-demo .window03{
	border:0.1em dotted #d4e06b;
	width:8em; height:3em;
	/*line-height:4em;	*/
	font-weight: bold;
}
/** ELEMENTS **/
.chart-demo .window{
	border:0.1em dotted #d4e06b;
	width:15em; height:10.3em;
	/*line-height:4em;	*/
}
.chart-demo .window2{
	/*border:0.1em dotted #d4e06b;*/
	width:1em; height:3.5em;
	/*line-height:4em;	*/
}

.chart-demo .window3{
	/*border:0.1em dotted #d4e06b;*/
	width:3.2em; height:3em;
	/*line-height:4em;	*/
}

/** HOVER EFFECTS **/
.chart-demo .window:hover, .chart-demo .window.jtk-source-hover, .chart-demo .window.jtk-target-hover {
    border:1px solid black;
    color:black;
}

/** ELEMENT POSITIONS **/
#chartWindowL1 { left:5%; top:10%;}
#chartWindowL2 { left:5%;top:40%;}
#chartWindowL3 { left:5%;top:68%;}



#chartWindowT1 { left:40%;top:10em;}






#chartWindowR1 { left:80%;top:10%;}
#chartWindowR2 { left:80%;top:40%;}
#chartWindowR3 { left:80%;top:68%;}

#chartWindow50 { left:15em;top:30em;opacity: 0;}

#chartWindowJIN{ left:20em;top:30em;}
#chartWindowCHU{ left:90em;top:30em;}


.contiEchart{
	position: absolute;
	width: 240px;
	height: 100px;
	top: 10px;
	left: calc(50% - 120px);
	background: url(../img/kucun2.png) no-repeat;
	background-size: 100% 100%;
}
/** CONTENT CSS **/
.window00,.window01,.window02,.window03 {
    background-color:#21c2a1;
    border:1px solid #346789;
    text-align:center;
    z-index:24;
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.0em;
    position:absolute;
    color:white;
    padding:0.5em;
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

/** ELEMENT CSS **/
.window {
    border:1px solid #346789;
    text-align:center;
    z-index:24;
    cursor:pointer;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    position:absolute;
    color:white;
    padding:0.5em;
    width:10px;
    height:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.window2 {
   background:url(../img/1-1.png) no-repeat left;
    /*border:1px solid #346789;*/
    text-align:center;
    z-index:24;
    cursor:pointer;
    /*box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;*/
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    position:absolute;
    color:white;
    padding:0.5em;
    width:10px;
    height:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}
/* .windowDis{
	opacity: 0;
} */
.window2 b{
	  width: 100px;
    position: absolute;
    top: -20px;
    color: black;
    font-weight: normal;
}
.window3 {
	 background:url(../img/T102.png) no-repeat left;
    /*background-color:#a0a6e4;*/
    /*border:1px solid #346789;*/
    text-align:center;
    z-index:24;
    cursor:pointer;
    /*box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;*/
    -moz-border-radius:0.5em;
    border-radius:0.5em;
    position:absolute;
    color:white;
    padding:0.5em;
    width:80px;
    height:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}
.window3 b{
	    width: 100px;
    position: absolute;
    top: -20px;
    color: white;
    font-weight: normal;
}


path, .jtk-endpoint { cursor:pointer; }
.jtk-demo-canvas{height:100%;color: white;}

.leftD{
	position: absolute;
	top: 30px;
	border: 2px dashed #53bfc9;
	width: 500px;
	border-radius: 10px;
	height: 450px;
}
.midD{
	position: absolute;
	top: 2px;
	left: 600px;
	border: 2px dashed #53bfc9;
	width: 600px;
	border-radius: 10px;
	height: 494px;
}
.rightD{
	position: absolute;
	top: 30px;
	left: 1285px;
	border: 2px dashed #53bfc9;
	border-radius: 10px;
	width: 473px;
	height: 450px;
}
