#home,
#certify {
	position: relative;
	width: 96%;
	/*height: 450px;*/
	margin: 0 auto
}

#home {
	height: 450px;
}

#home.swiper-container,
#certify .swiper-container {
	padding-bottom: 60px;
}

#home .swiper-slide,
#certify .swiper-slide {
	/*height: 370px;
	width: 220px;*/
	/*background-color: white;*/
	box-shadow: 0 8px 10px #E7E7E7;
}
#home .swiper-slide:hover{
	box-shadow: 5px 8px 30px #7FB4EC;
	transform: translate3d(-2px, -2px, 0);
}

#home .swiper-button-prev,
#certify .swiper-button-prev {
	left: -30px;
	width: 45px;
	height: 45px;
	margin-top: 90px;
	background: url(../img/wm_button_icon.png) no-repeat;
	background-position: 0 0;
	background-size: 100%;
}

#home .swiper-button-prev:hover,
#certify .swiper-button-prev:hover {
	background-position: 0 -46px;
	background-size: 100%
}

#home .swiper-button-next,
#certify .swiper-button-next {
	right: -30px;
	width: 45px;
	height: 45px;
	margin-top: 90px;
	background: url(../img/wm_button_icon.png) no-repeat;
	background-position: 0 -93px;
	background-size: 100%;
}

#home .swiper-button-next:hover,
#certify .swiper-button-next:hover {
	background-position: 0 -139px;
	background-size: 100%
}

.margin-t10 {
	margin-top: 10px;
}

.border-r5 {
	border-radius: 5px;
}
/*
.list-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin:10px 0  0 25px;

}*/

.list-ps {
	display: inline-block;
	/*width:25%;*/
	/*height:;*/
	/*margin-right:2px;*/
}

.list-p {
	margin: 5px 9px 5px 0;
	display: inline-block;
}

.flist-ps {
	margin: 30px 0 10px;
}

.flist-p {
	/*margin:20px;*/
	display: inline-block;
}
.pborder{
	display:inline-block;
	height: 30px;
	padding:0 5px;
}
