<div style="width: 100%;height: 100%;">
	<div class="col-md-12" style="margin: 0;padding: 0;">
		<div class="row" style="overflow: auto;">
			<div class="col-md-2" style="padding: 0;">
				<nav class="navbar navbar-default leftSide">
					<ul style="padding: 0;margin: 0;" id="sideLeft">
						<li role="presentation" ng-repeat="(key,value) in datas">
							<a class="tableType" ng-bind="value.navName" ng-click="columsOnClick(key,showKey)" ng-class="{active: key==showKey}"></a>
							<div class="clearPadding" ng-repeat="(key2,value2) in datas[showKey].rows" ng-if="showKey!='search' &&!value2.hide&&key==showKey&&showFlag==true">
								<a class="tableTitle" ng-bind="value2['tableName']" ui-sref="app.uiGrid({id:key2})"></a>
							</div>
						</li>
					</ul>
				</nav>
				<div>
					<div class="table-footer text-right" style="margin-right: 15px;">
						<span>版本号:&nbsp;v4.9.2</span></div>
				</div>
			</div>
			<div ui-view class="col-md-10"></div>
		</div>
	</div>
</div>